<div>
    {% extends "bodasEventos.html" %}
    {% load static %}
    
    {% block setBodasEventos %}
        <h3 style="color: #b8860b;">Editar Evento:</h3>
        <form action="{% url 'editarBodasEventos' id_evento %}" method="POST"> 
          {% csrf_token %}
            {{formulario.as_p}} 
          <input type="submit" value="Guardar" style="background-color: #ffd700; color: black; padding: 10px 20px; border-radius: 5px; font-size: 11px; font-weight: bold; text-transform: uppercase; border: none; cursor: pointer; margin: 5px 10px 15px 20px;">
       </form>
        {% if miEvento.errors %}
          <p>{{miEvento.errors}}</p>
        {% endif %}
    {% endblock setBodasEventos %}

</div>