<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Presentaciones | AppRitual</title>
    {% extends "AppRitual/templatePadre.html" %}
    {% load static %}
</head>
<body>
    {% block welcome_message %}
    {% endblock %}

    {% block content %}
        <div>
            <h3 style="color: #b8860b; font-size: 20px;"><strong>Presentaciones de Eventos:</strong></h3>
            <a href="https://drive.google.com/file/d/1ZAseSZUtdneWjQt-4LyEnml9egKofVVQ/view?usp=drive_link"><u><span style="font-size: 17px; color: #daa520;"><strong>Boda</strong></span></u></a>
        </div>
        <div>
            <a href="https://drive.google.com/file/d/15EXSrCGydR8Qx-3b2JJxFoMcQaSH6-I4/view?usp=drive_link"><u><span style="font-size: 17px; color: #daa520;"><strong>Cena Romántica</strong></span></u></a>
        </div>
        <div>
            <a href="https://drive.google.com/file/d/1Htlp87hYRDOChBcw_PD00WIUgsR-mxvQ/view?usp=drive_link"><u><span style="font-size: 17px; color: #daa520;"><strong>Cumpleaños</strong></span></u></a>
        </div>
    {% endblock %}


</body>
</html>
