<div>
    {% extends "bodasEventos.html" %}
    {% load static %}

    {% block setBodasEventos %}
         <h3 style="color: #b8860b;">Crear Evento:</h3>
         <form action="/setBodasEventos/" method="POST"> {% csrf_token %}
            <table>
                {{ miEvento.as_table }}
            </table>
            <input type="submit" value="Agregar" style="background-color: #ffd700; color: black; padding: 10px 20px; border-radius: 5px; font-size: 11px; font-weight: bold; text-transform: uppercase; border: none; cursor: pointer; margin-left: 460;">
        </form>
    {% endblock %}
</div>
