<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacto Exitoso | AppRitual</title>
    {% extends "AppRitual/templatePadre.html" %}
    {% load static %}
</head>
<body>
    {% block welcome_message %}
        <!-- No se mostrará ningún contenido aquí -->
    {% endblock %}
    {% block content %}
            <h2 style="text-align: center;">¡El mensaje ha sido enviado de forma exitosa!</h2>
                <p style="text-align: center;">Realmente no se envió ningún mail xD</p>

    {% endblock %}
</body>
</html>
