<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacto</title>
    {% extends "AppRitual/templatePadre.html" %}
    {% load static %}
</head>
<body>
    {% block welcome_message %}
    <!-- No se mostrará ningún contenido aquí -->
    {% endblock %}

    {% block content %}
        <h3 style="color: #b8860b; font-size: 20px;"><strong>Contacto</strong></h3>
        <a href="https://linktr.ee/ritualtepoztlan" style="font-size: 17px; color: #daa520;">Ir a Linktr.ee</a>
    {% endblock %}
</body>
</html>
