<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Especiales | AppRitual</title>
    {% extends "AppRitual/templatePadre.html" %}
    {% load static %}
</head>
<body>
    {% block welcome_message %}
    <!-- No se mostrará ningún contenido aquí -->
    {% endblock %}


    {% block content %}
        <h3 style="color: #ffd700;"><strong>Especiales</strong></h3>
            </div>
    <a href="{% static 'pdfs/cenaRomantica.pdf'%}">Cena Romántica</a>
    </div>
    {% endblock %}

</body>
</html>
