<div>
    {% extends "trabajadores.html" %}
    {% load static %}

    {% block getTrabajadores %}
        <h2>Filtrar Trabajador:</h2>
        <form action="/buscarTrabajadores/" method="GET">
            <input placeholder="Nombre" type="text" name="nombre" id="nombre">
            <input type="submit" value="Buscar">
        </form>

        {% if trabajadores %}
                <h2 style="color: #b8860b;">Información Trabajadores:</h2>
            {% for trabajador in trabajadores %}
                <ul>
                    <li><strong>Nombre:</strong> {{ trabajador.nombre }}</li>
                    <li><strong>Apellido:</strong> {{ trabajador.apellido }}</li>
                    <li><strong>Sector:</strong> {{ trabajador.sector }}</li>
                    <li><strong>Teléfono:</strong> {{ trabajador.telefono }}</li>
                    <li><strong>Email:</strong> {{ trabajador.email }}</li>
                    <li><strong>Fecha Contratación:</strong> {{ trabajador.fechaContratacion }}</li>
                    <li><strong>Salario:</strong> {{ trabajador.salario }}</li>
                    <li><strong>ID:</strong> {{ trabajador.foto_id.url }}</li>
                    <li><strong>ID:</strong> <img src="/media{{ trabajador.foto_id.url }}" alt="id"></li>
                    <!--<img src="{{trabajador.foto_id.url}}" alt="id" class="centered-image">-->
                    <li><strong>Anotaciones:</strong> {{ trabajador.anotaciones }}</li>
                </ul>
            {% endfor %}
        {% else %}
            <p>No se encontró ese trabajador.</p>
        {% endif %}
    {% endblock %}
    <p></p>
</div>
