<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ubicacion | AppRitual</title>
    {% extends "AppRitual/templatePadre.html" %}
    {% load static %}
</head>
<body>
    {% block welcome_message %}
    <!-- No se mostrará ningún contenido aquí -->
    {% endblock %}

    {% block content %}
        <h3 style="color: #ffd700;"><strong>Ubicación</strong></h3>
        <a href="https://goo.gl/maps/bdZ7b5JhQYKJt4fe8">Ver en Google Maps</a>
        <p> Todavía nuestra página es muy mala, pronto podrás navegar con Google Maps dentro de nuestra plataforma!</p>

    {% endblock %}
</body>
</html>
